<nav class="navbar navbar-expand-lg mt-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bills &copy; 2023</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBottom" aria-controls="navbarBottom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarBottom">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t("new_organization").capitalize, new_organization_url, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t("organizations").capitalize, organizations_url, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>

